In [ ]:
import os
import kaggle
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

save_path =  os.getenv("SAVE_PATH")

# Create the save path if it doesn't exist
os.makedirs(save_path, exist_ok=True)

# Download dataset from kaggle
!kaggle datasets download tmdb/tmdb-movie-metadata -f tmdb_5000_movies.csv --path {save_path}
!kaggle datasets download tmdb/tmdb-movie-metadata -f tmdb_5000_credits.csv --path {save_path}

# Extract all .zip files in the save path
for file in os.listdir(save_path):
    if file.endswith(".zip"):
        zip_file_path = os.path.join(save_path, file)
        print(f"Extracting: {zip_file_path}")

        with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
            zip_ref.extractall(save_path)
            print(f"Extracted to: {save_path}")

        os.remove(zip_file_path)
        print(f"Deleted zip file: {zip_file_path}")

Dataset URL: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
License(s): other
Downloading tmdb_5000_movies.csv.zip to C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data

  0%|          | 0.00/1.58M [00:00<?, ?B/s]
 63%|██████▎   | 1.00M/1.58M [00:01<00:00, 882kB/s]
100%|██████████| 1.58M/1.58M [00:01<00:00, 1.32MB/s]
100%|██████████| 1.58M/1.58M [00:01<00:00, 1.21MB/s]

  0%|          | 0.00/7.30M [00:00<?, ?B/s]
 14%|█▎        | 1.00M/7.30M [00:01<00:07, 926kB/s]
 27%|██▋       | 2.00M/7.30M [00:01<00:03, 1.57MB/s]
 41%|████      | 3.00M/7.30M [00:02<00:02, 1.57MB/s]
 55%|█████▍    | 4.00M/7.30M [00:02<00:01, 1.99MB/s]
 68%|██████▊   | 5.00M/7.30M [00:02<00:01, 2.28MB/s]
 82%|████████▏ | 6.00M/7.30M [00:03<00:00, 2.51MB/s]
 96%|█████████▌| 7.00M/7.30M [00:03<00:00, 2.66MB/s]
100%|██████████| 7.30M/7.30M [00:03<00:00, 2.15MB/s]

Dataset URL: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
License(s): other
Downloading tmdb_5000_credits.csv.zip to C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data

Extracting: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data\tmdb_5000_credits.csv.zip
Extracted to: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data
Deleted zip file: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data\tmdb_5000_credits.csv.zip
Extracting: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data\tmdb_5000_movies.csv.zip
Extracted to: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data
Deleted zip file: C:/Users/Admin/Desktop/Alvin/project-1/recommendation/data\tmdb_5000_movies.csv.zip

In [29]:
credits = pd.read_csv(f"{save_path}/tmdb_5000_credits.csv")
movies = pd.read_csv(f"{save_path}/tmdb_5000_movies.csv")

movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [30]:
movies = movies.merge(credits, right_on='title', left_on='title')

movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [31]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [32]:
cols = ['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']

movies = movies[cols]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [34]:
import ast

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [35]:
movies['genres'] = movies['genres'].apply(convert)

movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4809, dtype: object

In [36]:
movies['keywords'] = movies['keywords'].apply(convert)

movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4809, dtype: object

In [37]:
movies['cast'] = movies['cast'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)[:3]])

movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4809, dtype: object

In [38]:
movies['crew'] = movies['crew'].apply(lambda x: [i['name'] for i in ast.literal_eval(x) if i['job'] == 'Director'])

movies['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object

In [39]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

movies['tags']

0       [Action, Adventure, Fantasy, Science Fiction, ...
1       [Adventure, Fantasy, Action, ocean, drug abuse...
2       [Action, Adventure, Crime, spy, based on novel...
3       [Action, Crime, Drama, Thriller, dc comics, cr...
4       [Action, Adventure, Science Fiction, based on ...
                              ...
4804    [Action, Crime, Thriller, united states–mexico...
4805    [Comedy, Romance, Edward Burns, Kerry Bishé, M...
4806    [Comedy, Drama, Romance, TV Movie, date, love ...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Dani...
4808    [Documentary, obsession, camcorder, crush, dre...
Name: tags, Length: 4809, dtype: object

In [40]:
movies = movies[['movie_id', 'title', 'overview', 'tags']]

In [41]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [42]:
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

movies['tags']

0       action adventure fantasy science fiction cultu...
1       adventure fantasy action ocean drug abuse exot...
2       action adventure crime spy based on novel secr...
3       action crime drama thriller dc comics crime fi...
4       action adventure science fiction based on nove...
                              ...
4804    action crime thriller united states–mexico bar...
4805    comedy romance edward burns kerry bishé marsha...
4806    comedy drama romance tv movie date love at fir...
4807    daniel henney eliza coupe bill paxton daniel hsia
4808    documentary obsession camcorder crush dream gi...
Name: tags, Length: 4809, dtype: object

In [44]:
movies.head(1)

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",action adventure fantasy science fiction cultu...

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['tags'])

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [47]:
def get_recommendation(title, cosine_sim=cosine_sim):
    idx = movies[movies['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movies_indices = [i[0] for i in sim_scores]

    return movies['title'].iloc[movies_indices]

In [57]:
input_title = input("Enter a movie title: ")

recommendations = get_recommendation(input_title, cosine_sim=cosine_sim)

print("\nRecommended Movies:")
for movie in recommendations:
    print(f"- {movie}")

Recommended Movies:
- Gerry
- Promised Land
- 21
- The Town
- To Die For
- Dogma
- Dope
- Wonder Boys
- Death to Smoochy
- A Beautiful Mind

In [58]:
import pickle

with open('movie_data.pkl', 'wb') as file:
    pickle.dump((movies, cosine_sim), file)